{% extends 'base.html.twig' %}

{% block subTitle %} - Home{% endblock %}

{% block content %}
    <h1>{% block pageTitle %}Bienvenue{% endblock %}</h1>
    {#
    <a href="{{ path('app_calcul_add', { a: 10, b: 20 }) }}">Calculer 5 + 5</a>
    #}
{% endblock %}