<div class="app--menu--item">
	<a href="#">
		Accueil
	</a>
</div>

<div class="app--menu--item">
	<a href="{{ path('app_admin_user_index') }}" class="app--menu--item">
		Utilisateurs
	</a>
</div>

<div class="app--menu--item">
	<a href="{{ path('app_admin_kind_index') }}" class="app--menu--item">
		Genres
	</a>
</div>

<div class="app--menu--item">
	<a href="{{ path('app_admin_author_index') }}" class="app--menu--item">
		Auteurs
	</a>
</div>