:root {
    --black: #303036;
    --grey: #918b92;
    --light-grey: #ebeaeb;
    --platinium: #c9cada;
    --red: #9c0d38;
    --pink: #ce5374;
    --mauve: #dbbbf5;
    --light-blue: #dbbbf5;
    --blue: #634da0;
    --green: #009b72;
    --yellow: #c88304;
    --white: #fbfffe;
    --mg: 0.8rem;
    --mgBig: 1.3rem;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--light-grey);
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

/*/
=== Header & Menu ===
*/

.app--header {
    width: 100%;
    min-height: 80px;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: stretch;
}

.app--menu {
    display: flex;
    align-items: stretch;
}

.app--menu--item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    cursor: pointer;
}

.app--menu--item a {
    color: var(--white);
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0px var(--mg);
    font-weight: 600;
}

.app--menu--item a:hover {
    background-color: var(--grey);
    color: var(--black);
}

/*
=== CONTENT ===
*/

.app--content {
    min-width: 80%;
    max-width: 80%;
    flex-grow: 2;
}

/*
=== FOOTER ===
*/
.app--footer {
    width: 100%;
    min-height: 250px;
    background-color: var(--black);
    color: var(--white);
}

/*
=== Typographie ===
*/
a {
    text-decoration: none;
    color: var(--blue);
}

/*
=== Flash message ===
*/
.app--error-flash {
    padding: var(--mg);
    background-color: var(--red);
    color: var(--white);
    text-align: center;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    font-weight: 600;
    margin: var(--mg) 0;
    border-radius: 5px;
}

.app--warning-flash {
    padding: var(--mg);
    background-color: var(--yellow);
    color: var(--white);
    text-align: center;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    font-weight: 600;
    margin: var(--mg) 0;
    border-radius: 5px;
}

.app--success-flash {
    padding: var(--mg);
    background-color: var(--green);
    color: var(--white);
    text-align: center;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    font-weight: 600;
    margin: var(--mg) 0;
    border-radius: 5px;
}

/*
=== GRID & LISTS ===
*/

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--mgBig);
    row-gap: var(--mgBig);
    padding: var(--mg);
}

.grid--item {
    display: flex;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    transition: all 0.5s;
    padding: var(--mg);
    background-color: var(--white);
    border-radius: 5px;
}

.grid--author {
    grid-template-columns: repeat(3, 1fr);
}

.grid--kind {
    grid-template-columns: repeat(4, 1fr);
}

.grid--item:hover {
    background-color: var(--platinium);
}

.grid--item--book .img-container {
    min-width: 205px;
    max-width: 205px;
    min-height: 240px;
    max-height: 240px;
    display: flex;
    margin-right: var(--mg);
}

.grid--author .img-container {
    min-width: 105px;
    max-width: 105px;
    min-height: 150px;
    max-height: 150px;
    display: flex;
    margin-right: var(--mg);
}

.grid--author .img-container img {
    width: 105px;
    height: 150px;
    object-fit: cover;
    display: block;
    transition: all 0.5s;
}

.grid--item--book .img-container img {
    width: 205px;
    height: 240px;
    object-fit: cover;
    display: block;
    transition: all 0.5s;
}
.grid--item:hover .img-container img {
    opacity: 0.5;
}

.grid--item--book .info-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 2;
}

.info-container .book-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--black);
    margin-top: 0;
    margin-bottom: var(--mg);
}

.info-container .book-author {
    flex-grow: 2;
    margin: 0;
    color: var(--grey);
}

.info-container .book-price {
    margin: 0 var(--mg);
    color: var(--red);
    font-size: 1.8rem;
    font-weight: 700;
    text-align: right;
}
