{% extends 'admin/base_admin.html.twig' %}

{% block title %}Liste des ingrédients{% endblock %}

{% block content %}

<h1>Liste des ingrédients</h1>

{{ include('admin/_list.html.twig', {
    data: ingredients,
    label_list: 'Retour à la liste des ingrédients',
    label_create: 'Créer un nouvel ingrédient',
    label_modify: 'Mettre à jour un ingrédient',
    label_delete: 'Supprimer un ingrédient',
    route_create: 'app_admin_ingredient_create',
    route_update: 'app_admin_ingredient_update',
    route_delete: 'app_admin_ingredient_delete',
    label: "L'ingrédient"
}) }}

{% endblock %}
