{% extends 'front/front.html.twig' %}

{% block title %}Library Shop - Rechercher{% endblock %}

{% block content %}
<h1>Rechercher des livres</h1>

{{ form(form) }}

<div class="grid">
    {% for book in books %}
        {% include 'front/partials/_bookThumb.html.twig' %}
    {% endfor %}
</div>

{% endblock %}
