{% extends 'base.html.twig' %}

{% block body %}
    {% block menu %}
        <header>
            <nav>
                <ul>
                    <li><a href="{{ path('app_front_home_index') }}">Accueil</a></li>
                    <li><a href="{{ path('app_front_book_search') }}">Rechercher</a></li>
                    <li><a href="{{ path('app_login') }}">Connexion</a></li>
                </ul>
            </nav>
        </header>
    {% endblock %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        {% block content '' %}
    </div>
{% endblock %}