{% extends 'admin/base_admin.html.twig' %}

{% block title %}Créer une nouvelle pizza{% endblock %}

{% block content %}

<h1>{% block page_title %}Créer une nouvelle pizza{% endblock %}</h1>

<a href="{{ path('app_admin_pizza_list') }}">Retour à la liste des pizzas</a>

{{ form(form) }}

{% endblock %}