{% extends 'admin/base_admin.html.twig' %}

{% block title %}Liste des pizzas{% endblock %}

{% block content %}

<h1>Liste des pizzas</h1>

{{ include('admin/_list.html.twig', {
    data: pizzas,
    label_list: 'Retour à la liste des pizzas',
    label_create: 'Créer une nouvelle pizza',
    label_modify: 'Mettre à jour la pizza',
    label_delete: 'Supprimer une pizza',
    route_create: 'app_admin_pizza_create',
    route_update: 'app_admin_pizza_update',
    route_delete: 'app_admin_pizza_delete',
    label: "La pizza"
}) }}

{% endblock %}

