{% extends 'base.html.twig' %}

{% block title %}LibShop - Rechercher{% endblock %}

{% block content %}

<h1>Rechecher des livres</h1>

{{ form(form) }}

<div class="grid">
    {% for book in books %}
        {% include 'partials/book_card.html.twig' %}
    {% endfor %}
</div>

{% endblock %}