{% extends 'base.html.twig' %}

{% block title %}LibShop - Vos Commandes{% endblock %}

{% block content %}

<h2>Vos commandes</h2>

<div class="grid">
    {% for order in orders %}
        <a href="#" class="grid--item grid--item--book">
            <div class="info-container">
                <p class="book-title">
                    Fait le : {{ order.updatedAt|date('d/m/Y à H:i:s') }}
                </p>
                <p class="book-title">
                    Montant : {{ order.price }}
                </p>
            </div>
        </a>
    {% endfor %}
</div>

{% endblock %}

